@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgb(243, 237, 237);
}


header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    flex-wrap: wrap;
    
   
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-right:30px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    
}

nav ul li:hover{
    color: white;
    cursor: pointer;
    
}

.first-intro{
   
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0;
    font-family: 'Roboto', sans-serif;
    height: 60vh;
}

.intro{
    margin-left: 2%;   
    
}

.title-intro{
    font-size: 24px;
    
}
.title-paragrafo{
    text-align: justify;
    font-size: 22px;
}

.foto{
    width: 300px;
    border-radius: 50%;
    margin-right: 30px;
}

.sociais{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    font-size: 50px;
}

.container-about{
    width: 100%;
    padding: 20px 0;
    font-size: 24px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: rgba(158, 196, 228, 0.068);
    padding-bottom: 50px;
    
}

.container{
    margin-left: 7%;
    margin-left: 7%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}


.container-about p{

    width: 100%;
    text-align: justify;
    padding: 0 50px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    

}

.about h2{
    margin-left: 50px;
}

.skilss{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(149, 157, 184, 0.24);
    width: 100%;
   
}

.skills{

    width: 100%;
    margin-bottom: 50px;
}

.skilss h1{

    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cursos{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: 80%;
}
.cursos-items{
    width: 320px;
    height: 280px;
    display: flex;
    background-color: white; 
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end; 
    padding-bottom: 30px; 
    padding-left: 30px;  
}

.icones img{
 width: 20%;
}

.hobbies{
    display: flex;
    gap: 50px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    justify-content: center;
    margin-bottom: 100px;
}
.academica-title{
text-align: center;
margin-top: 50px;

}

.formacao{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: rgba(154, 198, 241, 0.253);   
    
}

.container-formacao{

    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 30px;
}

.list-formacao{

    width: 320px;
    height: 220px;
    background-color: rgb(136, 128, 128);
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
   
    
}

.container-experiencia{
    width: 100%;
    display: flex;
    flex-direction: column;
   
   
}
.experiencia-title{
    text-align: center;
    margin-bottom:50px ;
    margin-top: 50px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imagem-experiencia{

    min-width: 600px;
    min-height: 360px;
    margin-left: 20px;
    margin-right: 20px;

}

.item-experiencia{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: auto;
    padding-bottom: 20px;
}

.right{
 min-width: 600px;
 min-height: 360px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 30px;
 margin-top: 30px;
 margin-bottom: 10px;
}
.left{
    min-width: 600px;
    min-height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

button{
    padding: 20px;
    font-size: 20px;
}

.repository-button{
    border: solid dodgerblue 1px;
    color: dodgerblue;
}

.demo-button{
    background-color: dodgerblue;
    color: white;
    border: solid dodgerblue 1px;
}

.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(205, 221, 236);
    font-size: 24px;
}
.phone{
    width: 40%;
}

.phone-image{
min-width: 80%;
margin: 30px 0px;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(205, 221, 236);
    height:600px;
    gap: 20px;
}

input{
    width: 100%;
    font-size: 24px;
    outline: none;
    border: none;
}