
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgb(243, 237, 237);
}


header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    flex-wrap: wrap;
    background-color: blueviolet;
   
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-right:30px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.first-intro{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
}

.intro{
    width: 65%;
  
    
    
}

.title-intro{
    font-size: 24px;
    
}
.title-paragrafo{
    text-align: justify;
}

.foto{
    width: 250px;
    border-radius: 50%;
}

.sociais{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    font-size: 20px;
}

.container-about{
    width: 100%;
    padding: 20px 0;
    font-size: 24px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: rgb(230, 233, 245);
    
}


.container-about p{

    width: 100%;
    text-align: justify;
    padding: 0 50px;
    align-items: center;

}

.about h2{
    margin-left: 50px;
}

.skilss{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(149, 157, 184, 0.24);
    width: 100%;
   
}

.skills{

    width: 100%;
    margin-bottom: 50px;
}

.skilss h1{

    font-size: 40px;
    margin-bottom: 30px;
}

.cursos{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: 80%;
}
.cursos-items{
    width: 220px;
    height: 200px;
    background-color: white; 
    flex-wrap: nowrap;
    
    
}

.hobbies{
    display: flex;
    gap: 50px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    justify-content: center;
    margin-bottom: 100px;
}
.academica-title{
text-align: center;
margin-top: 50px;

}

.formacao{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: rgb(230, 233, 245);
   
    
}

.container-formacao{

    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.list-formacao{

    width: 320px;
    height: 220px;
    background-color: white;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-top: 20px;
   
    
}